<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrudAdmin</servlet-name>
        <servlet-class>Servlets.CrudAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaDisciplina</servlet-name>
        <servlet-class>Servlets.listaDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAluno</servlet-name>
        <servlet-class>Servlets.loginAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarAluno</servlet-name>
        <servlet-class>Servlets.editarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaDisciplinasProfessor</servlet-name>
        <servlet-class>Controller.ListaDisciplinasProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProfessor</servlet-name>
        <servlet-class>Servlets.LoginProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudAdminDisciplina</servlet-name>
        <servlet-class>Servlets.CrudAdminDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudAdminProfessor</servlet-name>
        <servlet-class>Servlets.CrudAdminProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrador</servlet-name>
        <servlet-class>Servlets.Administrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProfessor</servlet-name>
        <servlet-class>Servlets.EditarProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilAluno</servlet-name>
        <servlet-class>Servlets.PerfilAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilProfessor</servlet-name>
        <servlet-class>Servlets.PerfilProfessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudAdmin</servlet-name>
        <url-pattern>/CrudAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAluno</servlet-name>
        <url-pattern>/loginAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaDisciplina</servlet-name>
        <url-pattern>/disciplinas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarAluno</servlet-name>
        <url-pattern>/editarAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaDisciplinasProfessor</servlet-name>
        <url-pattern>/listaDisciplinasProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProfessor</servlet-name>
        <url-pattern>/loginProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudAdminDisciplina</servlet-name>
        <url-pattern>/CrudAdminDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudAdminProfessor</servlet-name>
        <url-pattern>/CrudAdminProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrador</servlet-name>
        <url-pattern>/administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProfessor</servlet-name>
        <url-pattern>/editarProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilAluno</servlet-name>
        <url-pattern>/PerfilAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilProfessor</servlet-name>
        <url-pattern>/PerfilProfessor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
